<?xml version='1.0' encoding='utf-8'?>
<odoo>
    
    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="bookstore_menu_root"
        name="Book Store"
        sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="bookstore_book_menu_categ" name="Buku" parent="bookstore_menu_root" sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="bookstore_author_menu_categ" name="Penulis" parent="bookstore_menu_root" sequence="12"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="bookstore_publisher_menu_categ" name="Penerbit" parent="bookstore_menu_root" sequence="13"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="bookstore_orders_menu_categ" name="Order" parent="bookstore_menu_root" sequence="13"/>

</odoo>